
h1, h2 {
  text-align: center;
}

.my-container {
  text-align: start;
}

.my-skills-col {
  min-height: 300px;
  overflow: scroll;
}

.skills-header {
  display: flex;
}

.fa-code, .fa-user-friends {
  font-size: 20px;
  transform: translateY(20px);
  margin-right: 5px;
}

.my-experience {
  background-color: lightgray;
}

.my-references {
  background-color: lightgray;
}

.my-tabs {
  margin-bottom: 30px;
}

.titular {
  font-style: italic;
}

.btn + .btn {
  margin-left: 100px;
}

.my-buttons {
  text-align: center;
}

.skill-form, .experience-form, .reference-form {
  min-height: 300px;
  min-width: 500px;
}

.welcome {
  font-family: monospace;
  color: #ee6d74;
}

.my-logout-icon {
  background-color: #ee6d74;
  border-radius: 50%;
  padding: 20px;
  color: whitesmoke;
  margin-right: 50px;
  margin-left: -50px;
  font-size: 40px;
  transition: ease-in-out all 0.1s;
} .my-logout-icon:hover {
  transform: scale(1.10);
} .my-logout-icon:active {
  background-color: blueviolet;
}