
h1, h2 {
  text-align: center;
}

.my-container {
  text-align: start;
}

.my-skills-col {
  min-height: 300px;
  /* overflow: scroll; */
}

.skills-header {
  display: flex;
}

.fa-code, .fa-user-friends {
  font-size: 20px;
  transform: translateY(20px);
  margin-right: 5px;
  color: white;
}

.my-references, .my-experience {
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(0, 0, 0, 0.50);
  width: 90%;
}

.my-tabs {
  margin-bottom: 30px;
}

.titular {
  font-style: italic;
}

.btn + .btn {
  margin-left: 100px;
}

.my-buttons {
  text-align: center;
}

.skill-form, .experience-form, .reference-form {
  min-height: 300px;
  min-width: 500px;
}

.welcome {
  font-family: monospace;
}

.my-logout-icon {
  background-color: black;
  border-radius: 50%;
  padding: 20px;
  color: whitesmoke;
  margin-right: 50px;
  margin-left: -50px;
  font-size: 40px;
  transition: ease-in-out all 0.1s;
} .my-logout-icon:hover {
  transform: scale(1.10);
} .my-logout-icon:active {
  background-color: blueviolet;
}

.add-title {
  color: white;
  font-size: 35px;
  text-shadow: -3px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

/* TABS EDIT */
.tabs .tab a{
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:black;
  color:white;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
} /*Color of underline*/