
h1, h2 {
  text-align: center;
}

.my-container {
  text-align: start;
}

.my-skills-col {
  margin-bottom: 40px;
}

.skills-header {
  display: flex;
}

.fa-code, .fa-user-friends {
  font-size: 20px;
  transform: translateY(20px);
  margin-right: 5px;
}

.my-experience {
  background-color: lightgray;
}

.my-references {
  background-color: lightgray;
}

.my-tabs {
  margin-bottom: 30px;
}

.titular {
  font-style: italic;
}

.btn + .btn {
  margin-left: 100px;
}

.my-buttons {
  text-align: center;
}

.skill-form, .experience-form, .reference-form {
  min-height: 300px;
}