<i class="fas fa-sign-out-alt my-logout-icon right" (click)="logout()"></i>
<!-- <h1 class="welcome my-title">My Portfolio</h1> -->

<h2 class="welcome my-title"><i>Welcome {{username}}</i></h2>

<div class="container">
  <div class="row">
    <div class="col s12 my-tabs">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#overview"><b>Overview</b></a></li>
        <li class="tab col s3"><a href="#add-skill"><b>Add skill</b></a></li>
        <li class="tab col s3"><a href="#add-experience"><b>Add experience</b></a></li>
        <li class="tab col s3"><a href="#add-reference"><b>Add reference</b></a></li>
      </ul>
    </div>

<!-- ===================== OVERVIEW CONTENT ================================ -->
    <div id="overview">
      <!------------------- A B O U T ------------------->
      <h5 class="white-text text-darken-2 left-align add-title">About</h5>
      <div class="card-panel">
        <p>
          Frederic Chopin was a Polish-born pianist and composer of matchless
          genius in the realm of keyboard music. As a pianist, his talents were
          beyond emulation and had an impact on other musicians entirely out of
          proportion to the number of concerts he gave — only 30 public
          performances in 30 years of concertizing. No one before or since has
          contributed as many significant works to the piano's repertoire, or
          come closer to capturing its soul.        
        </p>
        <i class="far fa-thumbs-up right"> 56k</i> 
      </div>
      
      <!------------------- S K I L L S ------------------->
        <!-- skills twin header -->
        <div>
          <div class="skills-header col s12 m12 l6">
              <i class="fas fa-code add-title"></i>
              <h5 class="white-text text-darken-2 add-title">Technical Skills</h5>
          </div>
          <div class="skills-header col s12 m12 l6">
              <i class="fas fa-user-friends add-title"></i>
              <h5 class="white-text text-darken-2 add-title">Soft Skills</h5>
          </div>
        </div>
        
        <!-- skills left -->
        <div class="col s12 m12 l6 my-skills-col">
          <ul class="collection collection-skills z-depth-1"  [innerHTML]="techSkillsHTML">

            <!----- tech skills item model (deprecated) ----------------------->
            <li class="collection-item">
              <div class="row">
                <div class="col s6 m4 l4">
                  <div class="title">UI/UX Design</div>
                </div>
                <div class="col s6 m8 l8">
                  <div class="progress purple lighten-5">
                    <!-- TBD: Why doesn't this work when ${80} is dynamically loaded ? -->
                    <div class="determinate purple darken-2" style="width: 70%"></div>
                  </div>
                </div>
              </div>
            </li>
            <!----------------------------------------------------------------->

          </ul>
        </div>

        <!-- skills right -->
        <div class="col s12 m12 l6 my-skills-col">
          <ul class="collection collection-skills z-depth-1" [innerHTML]="softSkillsHTML">

            <!------------------ soft skills item model (deprecated) ---------->
            <li class="collection-item">
              <div class="row">
                <div class="col s6 m4 l4">
                  <div class="title">Communication</div>
                </div>
                <div class="col s6 m8 l8">
                  <div class="progress pink lighten-5"> 
                    <!-- TBD: Why doesn't this work when ${80} is dynamically loaded ? -->
                    <div class="determinate pink darken-2" style="width: 80%"></div> 
                  </div>
                </div>
              </div>
            </li>
            <!----------------------------------------------------------------->
            
          </ul>
        </div>
      
        <!------------------- E X P E R I E N C E ------------------->
        <!-- skills items -->
        <div class="section experience scrollspy" id="experience-section">
          <h5 class="white-text text-darken-2 center add-title">Experience</h5>

          <!-- XP items -->
          <div class="row my-experience" id="experience-items" [innerHTML]="xpHTML">

            <!------------------ experience item model (deprecated) ----------->
            <div class="col s12 m12 l6">
              <ul class="collection collection-resume z-depth-1">
                <li class="collection-item avatar">
                  <i class="fas fa-briefcase circle green darken-2"></i>
                  <span class="ultra-small green-text darken-2 right">2016 - 2018</span>
                  <div class="title">Facebook Inc.</div>
                  <span class="titular">Art Director</span>
                </li>
                <li class="collection-item">
                  <p>
                    Lorem ipsum dolor sit amet, in quodsi vulputate pro. 
                    Ius illum vocent mediocritatem an, cule dicta iriure at. 
                    Ubique maluisset vel te, his dico vituperata ut. 
                    Pro ei phaedrum maluisset. 
                    Ex audire suavitate has, ei quodsi tacimates sapientem sed, 
                    pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
                  </p>
                </li>
              </ul>
            </div>
            <!----------------------------------------------------------------->

          </div>
        </div>

        <!------------------- R E F E R E N C E S ------------------->
        <h5 class="white-text text-darken-2 left-align center add-title">References</h5>
        <div class="row my-references" id="experience-items" [innerHTML]="refHTML">
          
          <!------------------ reference item model (deprecated) ----------->
          <div class="col s12 m12 l4">
            <ul class="collection collection-resume z-depth-1">
              <li class="collection-item avatar">
                <i class="fas fa-phone circle blue darken-2"></i>
                <div class="title">David Heiffenburger</div>
                <span><b>Google</b> - Manager</span> <br/>
                <span>(301) 600 - 8610</span>
              </li>
              <li class="collection-item">
                <p>
                  Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!--------------------------------------------------------------------->

      </div>

    </div>

<!-- ===================== ADD SKILL FORM ================================== -->
    <div id="add-skill">
      <h5 class="center add-title">Add a Skill</h5>
      <div class="row form-container skill-form">
        <form class="col s12" (ngSubmit)="addSkill()" id="skill-form">
          <div class="row">
            <div class="input-field col s9">
              <p>
                  <label>
                    <input name="group" type="radio" checked value="Tech Skill"/>
                    <span>Tech skill</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group" type="radio" value="Soft Skill"/>
                    <span>Soft skill</span>
                  </label>
                </p>
            </div>
            <div class="input-field col s9">
              <input  type="text" class="validate" id="skill-name">
              <label >Skill</label>
            </div>
            <div class="input-field col s3">
              <input  type="number" class="validate" min="0" max="100" id="xp">
              <label >XP</label>
              <span class="helper-text" data-error="wrong" data-success="ok"> 1 - 100</span>
            </div>
          </div>

          <div class="my-buttons">
            <button class="btn my-button-effect waves-light btn-large my-button" type="submit" name="action">Submit
              <i class="fas fa-plus right"></i>
            </button>
            <button class="btn btn-large my-button-effect waves-light red" type="reset">
                <i class="fas fa-times"></i>
            </button>
          </div>

        </form>
      </div>    
    </div>

<!-- ===================== ADD EXPERIENCE FORM ============================= -->
    <div id="add-experience">
      <h5 class="center add-title">Add Experience</h5>
      <div class="row form-container experience-form">
        <form class="col s12" (ngSubmit)="addExperience()" id="experience-form">
          <div class="row">
            <div class="input-field col s4">
              <input type="text" class="validate" id="company">
              <label >Company</label>
            </div>
            <div class="input-field col s4">
              <input type="text" class="validate" id="title">
              <label >Title</label>
            </div>
            <div class="input-field col s4">
                <input type="text" class="validate" id="time-frame">
                <label >Time frame</label>
              </div>
            <div class="input-field col s12">
              <textarea id="textarea" class="materialize-textarea" id="description"></textarea>
              <label for="textarea">Description</label>
            </div>
          </div>

          <div class="my-buttons">
            <button class="btn my-button-effect waves-light btn-large my-button" type="submit" name="action">Submit
              <i class="fas fa-plus right"></i>
            </button>
            <button class="btn btn-large my-button-effect waves-light red" type="reset">
                <i class="fas fa-times"></i>
            </button>
          </div>

        </form>

      </div>
       
    </div>

<!-- ===================== ADD REFERENCE FORM ============================== -->
    <div id="add-reference">
      <h5 class="center add-title">Add a Reference</h5>
      <div class="row form-container reference-form">
        <form class="col s12" (ngSubmit)="addReference()" id="reference-form">
          <div class="row">
            <div class="input-field col s6">
              <input  type="text" class="validate" id="first-name-reference">
              <label >First Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" class="validate" id="last-name-reference">
              <label >Last Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" class="validate" id="company-reference">
              <label >Company</label>
            </div>
            <div class="input-field col s6">
              <input type="text" class="validate" id="relationship-reference">
              <label >Relationship</label>
            </div>
            <div class="input-field col s4">
              <input type="tel" class="validate" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="phone-reference">
              <label >Phone</label>
              <span class="helper-text" data-error="wrong" data-success="ok"> eg. 301-333-4444</span>
            </div>
            <div class="input-field col s12">
              <textarea id="textarea" class="materialize-textarea" id="description-reference"></textarea>
              <label for="textarea">Description</label>
            </div>
          </div>

          <div class="my-buttons">
            <button class="btn my-button-effect waves-light btn-large my-button" type="submit" name="action">Submit
              <i class="fas fa-plus right"></i>
            </button>
            <button class="btn btn-large my-button-effect waves-light red" type="reset">
                <i class="fas fa-times"></i>
            </button>
          </div>
          
        </form>
        
      </div>
    </div>

