<h1>Registration Page</h1>


<div class="row form-container">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">First Name</label>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <div class="input-field col s12 my-input-field">
        <i class="fas fa-user prefix"></i>
        <input id="username" type="text" class="validate" maxlength="15">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12 my-input-field">
        <i class="fas fa-key prefix"></i>
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>

      <button class="btn waves-effect waves-light btn-large my-button" type="submit" name="action">Register
        <i class="fas fa-user-plus right"></i>
      </button>
      <button class="btn btn-large waves-effect waves-light red" type="reset">
          <i class="fas fa-times"></i>
      </button>

      <a href="login" class="ditto">Login</a>

    </form>
  </div>
        