* {
  text-align: center;
}

.form-container {
  width: 500px;
}

.btn + .btn { /* spacing in between */
  margin-left: 100px;
}

.ditto {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  text-decoration: underline;
  color: #ee6d74;
}

input {
  text-align: start;
}