<h1>Login</h1>

<div class="row form-container">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 my-input-field">
        <i class="fas fa-user prefix"></i>
        <input id="username" type="text" class="validate" maxlength="15">
        <label for="username"> Username </label>
      </div>
      <div class="input-field col s12 my-input-field">
        <i class="fas fa-key prefix"></i>
        <input id="password" type="password" class="validate">
        <label for="password"> Password </label>
      </div>
      <button class="btn waves-effect waves-light btn-large my-button" type="submit" name="action">
        Submit
        <i class="fas fa-plane right"></i>
      </button>
      <button class="btn waves-effect waves-light btn-large my-button my-sign-up-btn" type="button"> 
        Sign Up
        <i class="fas fa-user-plus right"></i>
      </button>
    </div>
  </form>
</div>
      